.dashboardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* width: 100vw; */
  height: 100vh;
  padding-left: 15rem;
  /* margin-left: 25rem; */
  /* background-image: url('/background/background-desk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.submitBtn {
  /* color: var(--font-color-3);
  background-color: var(--background-button-4);
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  border: 2px solid var(--font-color-3);
  cursor: pointer; */
}

.submitBtn:hover {
  /* background-color: var(--active-button-4); */
}

@media (max-width: 700px) {
  .dashboardContainer{
    padding-left: 0;
    margin-bottom: 12rem;
    justify-content: flex-start;
    height: auto;
  }
}