.dashboardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* width: 100vw; */
  /* height: 100vh; */
  padding-left: 15rem;
}

@media (max-width: 700px) {
  .dashboardContainer{
    flex-direction: column-reverse;
    padding-left: 0;
    justify-content: flex-start;
    padding: 2rem;
  }
}