.dashboardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--foreground);
  width: 100%;
  height: 100%;
  padding-left: 25rem;
}

.submitBtn {
  color: var(--font-color-primary);
  background-color: var(--background);
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--active-tertiary);
}