.resumeMainContainer {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 100%;
  height: 100%;
}

.titleContainer {
  width: 20rem;
  height: 10%;
  padding: 1rem 1rem 1rem 0;
}

.title {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .resumeMainContainer {
    min-height: 80%;
    padding: 0;
    align-items: center;
  }

  .titleContainer {
    height: 5%;
    width: 50%;
    padding: 0;
  }
}

/* PERIOD BUTTONS */

.periodButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
}

.periodSelectorButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.periodBtn {
  height: 4rem;
  width: 15rem;
  margin: 1rem;
}

.periodBtn:first-of-type {
  margin-left: 0;
}

.navBtn {
  width: 30rem;
  height: 4rem;
  margin: 1rem;
}


@media (max-width: 700px) {
  .periodButtonsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    margin: 0;
  }

  .periodSelectorButtons {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .periodBtn {
    height: 4rem;
    width: 48%;
    margin: 0;
  }

  .navBtn {
    height: 4rem;
    width: 100%;
    margin: 0;
  }

}

/* GRAPHS */

.graphsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

@media (max-width: 1200px){
 .graphsContainer {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: unset;
    overflow: auto;
  }
}

@media (max-width: 700px){
  .graphsContainer {
    height: 80%;
    width: 100%;
    min-height: 20rem;
  }
}

/* FILTERS BUTTONS */

.filterButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 60rem;

  height: 7rem;
  padding: 1rem 1rem 1rem 0;
}

.filterButton {
  height: 100%;
  width: 45%;
  margin: 0;
}

.tableContainer {
  height: 55rem;
  width: 100%;
  margin-top: 3rem;
}

.tableSkeleton {
  height: 100%;
  width: 100%;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  padding: 2rem 0;
}

.paginationButton {
  width: 35rem;
  height: 100%;
}



@media (max-width: 700px){
  .filterButtonsContainer {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 1rem 0;
  }
  .tableContainer {
     margin-top: 0;
  }

  .tableContainer{
    height: 80%;
  }

  .paginationContainer {
    height: 7%;
    padding: 0;
    margin: 1rem 0;
  }

  .paginationButton {
    width: 100%;
  }
}

/* FORM RECORD */

.formRecordContainer {
  height: 55rem;
  width: 100%;
  margin-top: 3rem;
}

/* SKELETONS */

.skeleton {
  background-color: #e2e2e2;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.87), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

