.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 2rem;
}

.mainTitle {
  color: var(--font-color-3);
  margin: 4rem 0;
}

@media (max-width: 700px){
  .mainTitle{
    font-size: 2.5rem;
  }
}

.loginInput {
  height: 4rem;
  width: 30rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--stroke-2);
  margin: 1rem 0;
  font-family: var(--font-josefin);
  font-size: 1.5rem;
}

.loginInput:focus {
  outline: 1px solid var(--color-4);

}

.submitBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-3);
  background-color: var(--background-button-4);
  width: 30rem;
  height: 5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-josefin);
  border: 2.5px solid var(--stroke-2);
  border-radius: 10px;
  text-decoration: none;
  margin: 1rem 0;
}

/* google log button */

.googleBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-3);
  background-color: var(--background-button-5);
  width: 30rem;
  height: 5.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-josefin);
  border-radius: 10px;
  border: 2.5px solid var(--stroke-2);
  margin: 1rem 0;
}

.googleIcon {
  margin-right: 1rem;
  color: red;
}

.loginPage p {
  color: var(--font-color-3);
  margin: 2rem 2rem;
}

.divisor{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divisorLine{
  width: 12rem;
  height: 2px;
  background-color: var(--color-4);
}

.submitBtn:hover{
  background-color: var(--active-button-4);
}

.googleBtn:hover{
  background-color: var(--active-button-5);
  /* box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75); */
}