.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  height: 100%;
  width: 15rem;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-nav);
  border-right: 3px solid var(--stroke-2);
  /* overflow-x: hidden; */
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 10rem;
}

.sidenav a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  margin: 1rem 0;
  border-radius: 10px;
  color: var(--font-color);
}

/* .link:first-of-type{
  border: 2px solid white;
  border-radius: 10px;
} */

.linkActive {
  color: var(--font-color-3);
  background-color: var(--active-button-2);
  border: 2px solid var(--stroke-2);
  border-radius: 10px;
}

.signOutContainer {
  display: contents;
  width: 20rem;
  height: 10rem;
}

.navTitle {
  margin-left: 1rem;
}

.signOut {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-component);
  width: 22rem;
  height: 5rem;
  border-radius: 10px;
  border: none;
  color: var(--font-color-tertiary);
  cursor: pointer;
  padding-left: 1.5rem;
}

.signOut:hover {
  background-color: var(--active-tertiary);
  color: var(--active-secondary);
}

.signOut p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.icon{
  width: 4.5rem;
}

@media (max-width: 700px) {
  .nav {
    position: relative;
    top: auto;
    width: 100%;
    height: 8rem;
    padding: 1rem;
    /* margin: 1rem 0 0 0; */
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--stroke-2);
    border-radius: 10px;
  }

  .sidenav{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    grid-area: 2/ 1/ 3/ 4;
  }

  .sidenav a {
    padding: 0;
    margin: 0 1rem;
    justify-content: center;
    height: 5rem;
  }

  /* .signOut {
    width: 7rem;
    height: 6.1rem;;
    grid-area: 2/ 4/3 /5;
  } */

  .sidenav p, .signOut p {
    display: none;
  }

  .icon{
    width: 4rem;
  }


}