.resumeMainContainer {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 10%;
  padding: 1rem;
  
}

.title h1 {
  font-style: italic;
  font-weight: 500;
}

@media (min-height: 640px){
  .resumeMainContainer {
    height: 90%;
  }
}

@media (max-width: 700px) {
  .resumeMainContainer {
    padding: 0;
    align-items: center;
  }

  .title {
    height: 5%;
    width: 50%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
}

/* DATE SELECTOR */

.periodSelectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
}

/* NAV BUTTONS */

.periodNavButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-component);
  border: 2px solid black;
  border-radius: 5px;
  width: 30rem;
  height: 4rem;
  margin: 1rem;
}

.periodNavButtons button:first-of-type {
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}

.periodNavButtons button:last-of-type {
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

.arrowBtn{
  width: 3rem;
  height: 3rem;
}

@media (max-width: 700px){
  .periodSelectorContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    
  }

  .periodNavButtons {
    width: 100%;
    margin: 0;
  }

}

/* PERIOD SELECTOR */

.periodButtonsContainer {
  display: flex;
  flex-direction: row;
}

.periodButton {
  width: 15rem;
  height: 4rem;
  cursor: pointer;
  margin: 1rem;
  border: 2px solid var(--stroke-2);
  border-radius: 5px;
}

.periodButtonActive {
  background-color: var(--active-button-2);
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 700px) {
  .periodButtonsContainer {
    width: 100%;
    justify-content: space-between;
  }
  
  .periodButton {
    width: 48%;
    margin: 0;
  }

}

/* GRAPHS */

.graphsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
  height: 80%;
}

@media (max-width: 1200px){
 .graphsContainer {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: unset;
    overflow: auto;
  }
}

@media (max-width: 700px){
  .graphsContainer {
    height: 80%;
    width: 100%;
    min-height: 20rem;
    margin: 0;
  }
}

/* BAR CHART */

.SVGbarChartContainer {
  width: 50rem; 
  height: 30rem;
  background-color: var(--foreground);
  border: 2px solid var(--stroke-2);
  border-radius: 10px;
  margin: 0.5rem;
  position: relative;
}

.SVGbarChart {
  width: 100%; 
  height: 100%; 
}

@media (max-width: 700px) {
  .SVGbarChartContainer {
    width: 100%;
    margin: 0.5rem 0;
  }
}


/* PIE CHART */

.SVGpieGraphContainer {
  width: 50rem; 
  height: 30rem;
  background-color: var(--foreground);
  border: 2px solid var(--stroke-2);
  border-radius: 10px;
  margin: 0.5rem;
}

.SVGpieChart {
  width: 100%; 
  height: 100%; 
}

.selectWeekMonth {
  background-color: var(--background-component);
  border: none;
}

@media (max-width: 700px) {
  .SVGpieGraphContainer {
    width: 100%;
    margin: 0.5rem 0;
  }
}

.selectChart {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  height: 4rem;
  background-color: var(--background-component);
}

.totalAmountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 15rem;
  padding: 1rem;
  background-color: var(--background-component);
  border-radius: 10px;
}

.totalAmountBox h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  font-size: 2rem;
}

.totalAmountBox p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  height: 70%;
  width: 100%;
  font-size: 3rem;
  border-radius: 10px;
}


@media (max-width: 700px) {
  .resumeMainContainer {
    box-sizing: border-box;
  }

  .totalAmountBox, .totalAmountBox p, .totalAmountBox h4 {
    width: 100%;
  }

  .selectChart select{
    width: 12rem;
  }
} 

@media (max-width: 700px){


  .periodSelectorContainer {
    width: 100%;
  }

 .title {
   height: 5%;
 }

}