.dashboardMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  position: absolute;
  top: 30;
  left: 100; 
  font-style: italic;
  font-weight: 500;
}

.title h1 {
  font-style: italic;
  font-weight: 500;
}

@media (max-width: 700px) {
  .title {
    position: relative;
    top: auto;
    left: auto;
  }
}

.periodSelectorContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.periodNavButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-component);
  border: 2px solid black;
  border-radius: 10px;
  width: 22rem;
  height: 4rem;
}

.periodNavButtons button:first-of-type {
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}

.periodNavButtons button:last-of-type {
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

@media (max-width: 700px){
  .periodNavButtons {
    width: 100%;
  }
}


.arrowBtn{
  width: 3rem;
  height: 3rem;
}

.periodButtonsContainer {
  display: flex;
  flex-direction: row;
}

.periodButton {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  margin: 1rem;
  border: 2px solid var(--stroke-2);
  border-radius: 5px;
}

.periodButtonActive {
  background-color: var(--active-button-2);
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 700px) {
  .periodButtonsContainer {
    width: 100%;
    justify-content: space-between;
  }
  .periodButton {
    width: 48%;
    margin: 1rem 0;

  }

}



/* BAR CHART */
/* .expenseBarChart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--background-component);
  border-radius: 10px;
  border: 2px solid var(--stroke-2);
  width: 40rem;
  height: 30rem;
  margin: 1rem 0;
} */

.SVGbarChartContainer {
  width: 50rem; 
  height: 30rem;
  background-color: var(--foreground);
  border: 2px solid var(--stroke-2);
  border-radius: 10px;
  margin: 1rem;
  position: relative;
}

.SVGbarChart {
  width: 100%; 
  height: 100%; 
}

.selectYear {
  border: none;
  background-color: var(--background-component);
}

@media (max-width: 700px) {
  .SVGbarChartContainer {
    width: 100%;
    margin: 0;
  }
}


/* PIE CHART */
/* .expensePieChart{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--background-component);
  border-radius: 10px;
  width: 40rem;
  height: 30rem;
  margin: 1rem 0;
} */

.SVGpieGraphContainer {
  width: 50rem; 
  height: 30rem;
  background-color: var(--foreground);
  border: 2px solid var(--stroke-2);
  border-radius: 10px;
  margin: 1rem;
}

.SVGpieChart {
  width: 100%; 
  height: 100%; 
}

.selectWeekMonth {
  background-color: var(--background-component);
  border: none;
}



@media (max-width: 700px) {
  .SVGpieGraphContainer {
    width: 100%;
    margin: 1rem 0;
  }
}

.selectChart {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  height: 4rem;
  background-color: var(--background-component);
}

.selectChart select {
  width: 10rem;
  padding-top: 5px;
  outline: none; 
  color: var(--font-color-4);
  font-size: 1.6rem;
}

.calendarIcon {
  width: 2.8rem;
  color: var(--font-color-4);
  margin-right: 5px;
}


.totalAmountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 15rem;
  padding: 1rem;
  background-color: var(--background-component);
  border-radius: 10px;
}

.totalAmountBox h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  font-size: 2rem;
}

.totalAmountBox p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  height: 70%;
  width: 100%;
  font-size: 3rem;
  border-radius: 10px;
}


@media (max-width: 700px) {
  .dashboardMainPage {
    box-sizing: border-box;
  }

  .totalAmountBox, .totalAmountBox p, .totalAmountBox h4 {
    width: 100%;
  }

  .selectChart select{
    width: 12rem;
  }
} 

@media (max-width: 700px){

  .dashboardGraphs  {
    height: 85%;
    overflow: auto;
  }

  .periodSelectorContainer {
    height: 10%;
    width: 100%;
  }

 .title {
   height: 5%;
 }

}